asgiref==3.8.1
dj-database-url==3.0.1
django==5.2
django-extensions==4.1
django-filter==25.1
django-ipware==7.0.1
djangorestframework==3.16.0
flask==3.1.0
flask-wtf==1.2.1
gunicorn==23.0.0
itsdangerous==2.2.0
jinja2==3.1.6
markupsafe==3.0.2
packaging==24.2
pillow==11.1.0
pip==25.0
psutil==5.9.0
psycopg2==2.9.10
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-ipware==3.0.0
setuptools==75.8.0
six==1.17.0
sqlparse==0.5.3
traitlets==5.14.3
typing_extensions==4.12.2
werkzeug==3.1.3
wheel==0.45.1
whitenoise==6.9.0
wtforms==3.2.1